.mb-sm {
  margin-bottom: 4px;
}
.mb-md {
  margin-bottom: 8px;
}

.mb-lg {
  margin-bottom: 12px;
}

.mx-sm {
  margin-left: 4px;
  margin-right: 4px;
}
.ml-sm {
  margin-left: 4px;
}

.ml-md {
  margin-left: 8px;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1 1 0%;
}

.color-main {
  color: #1e42ab;
}

.w-full {
  width: 100%;
}

.btn-round {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $clr-sky-100;
  border-color: transparent;
  height: 32px;
  width: 32px;
  padding: 2px;
  transition: all 0.5;
}

.btn-round svg {
  color: $clr-sky-900;
  height: 32px;
  width: 32px;
}

.btn-round:hover {
  background-color: $clr-sky-300;
}

.btn-round:active {
  transform: scale(0.95);
}

.btn-round[disabled] {
  background-color: $clr-gray-200;
  transform: scale(0.95);
}

.btn-round[disabled] svg {
  color: $clr-gray-900;
}

.input {
  padding: $space-xs;
  border: $space-xs solid $clr-gray-300;
  border-radius: $space-sm;
  font-size: 16px;
  box-sizing: border-box;
}

.input:focus {
  border-color: $clr-sky-300;
}

.input.input-error {
  border-color: $clr-error;
}
