.mb-sm {
  margin-bottom: 4px;
}
.mb-md {
  margin-bottom: 8px;
}

.mx-sm {
  margin-left: 4px;
  margin-right: 4px;
}
.ml-sm {
  margin-left: 4px;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1 1 0%;
}

.color-main {
  color: #1e42ab;
}

.btn-round {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #e0f2fe;
  border-color: transparent;
  height: 32px;
  width: 32px;
  padding: 2px;
  transition: all 0.5;
}

.btn-round svg {
  color: #0c4a6e;
  height: 32px;
  width: 32px;
}

.btn-round:hover {
  background-color: #bae6fd;
}

.btn-round:active {
  transform: scale(0.95);
}
